
ion-button[color="dark"]{
    transform: scale(1);
    text-transform: capitalize;
}
ion-content{
    --background:var(--ion-color-success)
}
ion-button{
    border-radius: 5%;
}
ion-loading.custom-loading {
    --background: #e3edff;
    --spinner-color: #1c6dff;

    color: #1c6dff;
  }
  #adminLogin{
    cursor: pointer;
    pointer-events: all;
  }